{% extends 'base.html'%}

{% block content %}
<h1>Add hours:</h1>
{% if not projects%}
    <p>First add project!</p>
    <p><a href="/projects/create">Add first project</a><p>
{% endif %}

{% if projects%}
<form action="{{ url_for('add_hours_to_employee', employee_id=employee_id) }}" method="POST">
<div>
    <label for="project_no">Project number:</label>
    <select name="project_no" id="project_no">
        {% for project_id, project in projects.items() %}
        <option value="{{ project_id }}">
            {{ project['project_number'] }} - {{ project['project_name'] }}</option>
        {% endfor %}
    </select>
</div>
<div>
    <label for="time">Number of hours:</label>
    <input type="text" name="time"/>
</div>
<div>
    <input type="submit" value="Add"/>
</div>
</form>
{% endif %}
{% endblock %}