{% extends 'base.html' %}

{% block content %}
    <h1>{{ employee['name'] }}</h1>
    <p>Team: {{ employee['team'] }}</p>
    {# <p>Project name: {{ employee['projects_emp'][0]['project_name'] }}</p> #}
    {# <p>Project time: {{ employee['projects_emp'][0]['project_time'] }}</p> #}
    {# <p>Project time: {{ employee['projects_emp']}}</p> #}
{# Tutaj muszę zrobić pętle, żeby mi listowało liczbę godzin do danej osoby #}

<p>Projects time:</p>
<ul>
    {% for projects_id, project in employee['projects_emp'].items() %}
    <li>
        <form method="post" action="{{ url_for('hours_delete', employee_id=employee_id )}}">
            <input type="hidden" name="projects_id" value="{{ projects_id }}">
            project: {{ project['project_name'] }} time: {{project['project_time']}}
                    <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>


{% endblock %}