{% extends 'base.html' %}

{% block content %}
    <h1>{{ employee['name'] }}</h1>
    <p>Team: {{ employee['team'] }}</p>

{% if not employee['projects_emp']%}
    <p>Not hours yet!</p>
{% endif %}

{% if employee['projects_emp']%}
<p>Projects time:</p>
<ul>
    {% for projects_id, project in employee['projects_emp'].items() %}
    <li>
        <form method="post" action="{{ url_for('hours_delete', employee_id=employee_id )}}">
            <input type="hidden" name="projects_id" value="{{ projects_id }}">
            project: {{ project['project_name'] }} time: {{project['project_time']}}
                    <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{# {{employee}} #}

{% endblock %}