{% extends 'base.html' %}

{% block content %}
<h1>Welcome to TIME LOG application!</h1>
<h2>Menu:</h2>

<ul>
    <li><a href="/add_hours">Add hours</a></li>
    {# <li><a href="/check_hours">Check hours</a></li> #}
    <li><a href="/list_of_employees">List of employees</a></li>
    <li><a href="/list_of_projects">List of projects</a></li>
    <li><a href="/list_of_teams">List of teams</a></li>
    <li><a href="/add_employee">Add employee</a></li>
    <li><a href="/add_project">Add project</a></li>
    <li><a href="/add_team">Add team</a></li>
    {# <li><a href="/arch">Arch</a></li> #}
</ul>
{% endblock %}
