{% extends 'base.html' %}

{% block content %}
<h1>Welcome to TIME LOG application!</h1>
<h2>Menu:</h2>

<ul>

    {# <li><a href="/check_hours">Check hours</a></li> #}
    <li><a href="/employees/create">Add employee</a></li>
    <li><a href="/projects/create">Add project</a></li>
    <li><a href="/teams/create">Add team</a></li>
    <li><a href="/hours">Add hours</a></li>
    <li><a href="/employees">List of employees</a></li>
    <li><a href="/projects">List of projects</a></li>
    <li><a href="/teams">List of teams</a></li>
    {# <li><a href="/arch">Arch</a></li> #}
</ul>
{% endblock %}
